# Groq API Key (무료)
# https://console.groq.com 에서 발급
GROQ_API_KEY=여기에_Groq_API_키_입력

# 네이버 검색광고 API
NAVER_AD_CUSTOMER_ID=4293822
NAVER_AD_API_KEY=0100000000849b98161a1f409d0531781fed8f27616c1b6e5bad7d003650c2e685dc0146e9
NAVER_AD_SECRET_KEY=AQAAAACEm5gWGh9AnQUxeB/tjydhYrmMEWGCOB9N7hh9kE4MOw==

# 네이버 검색 API
NAVER_CLIENT_ID=Gy590bAYAGeS0CzKCVo3
NAVER_CLIENT_SECRET=8Driu7afHr
